.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.featuredImg {
  min-width: 100%;
  object-fit: cover;
  height: 250px;
}
.featuredTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: #febb02;
}
.featuredTitles > h1,
h2 {
  color: black;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .featured {
    width: 95%;
    
  }
}

@media only screen and (max-width: 600px) {
  .featured {
    overflow-x: scroll;
  }
  .featuredItem {
    min-width: 200px;
    flex-basis: 0;
    flex-grow: 1;
    
  }
}
